
<div class="container">
  <div class="box login-box">
    <h3 class="heading">Login</h3><hr><br>
    <form  action="login">
      Email:<br>  
      <input type="email"class="inputbox" id="email" name="email"/> <br>    
      <br>  
      Password:  <br>
      <input type="Password" class="inputbox" id="pass" name="pass"> <br>   
      <br> 
      <div class="sbt">
      <input type="submit" class="submitbutton">
       </div>
    </form>
    <!-- Login form goes here -->
  </div>
  <div class="box register-box">
    <h3 class="heading">Register</h3><hr><br>
    <form method="post" action="register">
  
      <label> Firstname </label><br>         
      <input type="text" class="inputbox" name="firstname" size="15"/> <br> <br>  
      <label> Middlename: </label>    <br> 
      <input type="text" class="inputbox" name="middlename" size="15"/> <br> <br>  
      <label> Lastname: </label>   <br>      
      <input type="text" class="inputbox" name="lastname" size="15"/> <br> <br>  
        
      <label>   
      Course :  
      </label>   
      <select>  
      <option value="Course">Course</option>  
      <option value="BCA">BCA</option>  
      <option value="BBA">BBA</option>  
      <option value="B.Tech">B.Tech</option>  
      <option value="MBA">MBA</option>  
      <option value="MCA">MCA</option>  
      <option value="M.Tech">M.Tech</option>  
      </select>  
        
      <br>  
      <br>  
      <label>   
      Gender :  
      </label><br>  
      <input type="radio" name="gender"/> Male <br>  
      <input type="radio" name="gender"/> Female <br>  
      <input type="radio" name="gender"/> Other  
      <br>  
      <br>  
        
      <label>   
      Phone : <br> 
      </label>  
      <input type="text" class="inputbox" name="phone" size="10"/> <br> <br>  
      
      <br>
      Email:<br>  
      <input type="email"class="inputbox" id="email" name="email"/> <br>    
      <br>  
      Password:  <br>
      <input type="Password" class="inputbox" id="pass" name="pass"> <br>   
      <br> 
      Re-type password:  <br>
      <input type="Password" class="inputbox" id="repass" name="repass"> <br> <br>  
      <div class="sbt">
      <input type="submit" class="submitbutton"/>  
    </div>
      </form>  

    <!-- Register form goes here -->
  </div>
</div>